.header{
  .top{
    padding: 20px;
    text-align: center;
    @media screen and (max-width: 991px) {
      padding: 10px;
    }
    .logo{
      text-decoration: none;
      img{
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
      span{
        display: none;
        color: #38a153;
        font-weight: 600;
        @media screen and (max-width: 991px) {
          display: block;
          font-size: 12px;
        }
      }
    }
  }
  .bottom{
    background-color: #eaeaea;
    padding: 24px 20px 20px;
    @media screen and (max-width: 991px) {
      padding: 10px 10px 10px;
    }
    p{
      text-align: center;
      color: #727272;
      font-size: 14px;
      font-weight: bold;
      padding: 0;
      margin: 0;
      @media screen and (max-width: 991px) {
        font-size: 11px;
        text-align: left;
      }
      a{
        color: #72a5f9
      }
    }
  }
}