$width: 1100px;

$primary-color: #2754a7;
$error: #fb8126;
$primary-color-dark: #1d4287;
$text-color: #333333;
$action-color: #1dc181;
$action-text-color: #fffefe;
$second-color: #f5f5f5;
$text-light: #f5f5f5;
$base-white: #ffffff;

$font: 'Open Sans', sans-serif;
$fontMR: 'MyriadPro-Regular', sans-serif;
$fontMB: 'MyriadPro-Bold', sans-serif;
