.mobile-view{
    display: none;
    align-items: center;
    padding: 6px 15px;
    border-top: 2px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    .soc{
        width: 31px;
    }
    .card{
        width: 27px;
    }
    .text{
        width: 100%;
        flex: 1;
        color: #a7a5b5;
        font-size: 11px;
        text-align: right;
        margin: 0 13px 0 0;
        transition: all linear .2s;
        span{
            transition: all linear .2s;
        }
    }
    @media screen and (max-width: 991px) {
        display: flex;
    }

    

}
.main-banner{
    background-position: center!important;
    background-size: cover!important;
    min-height: 272px;
    text-align: center;
    padding: 14px 0 ;
    @media screen and (max-width: 991px) {
        padding: 12px 0 12px;
        min-height: 260px;
    }
    
    .inner{
        @include inner;
    }
    .status{
        display: inline-block;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        padding: 0 23px 0 0;
        background: url('../img/checkmark.png') no-repeat;
        background-position: center right;
        background-size: 18px 18px;
        span{
            color: #44d53f;            
        }
    }

    .title{
        color: #ffffff;
        font-size: 32px;
        font-weight: 700;
        margin-top: 11px;
        margin-bottom: 10px;
        @media screen and (max-width: 991px) {
            font-size: 28px;
            font-weight: 700;
            margin-top: 6px;
        }
    }
    img{
        max-width: 200px;
        @media screen and (max-width: 991px) {
            width: 60%;
        }
        
    }
    .text{
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 14px 0 0 0;
        a{
            color: #fff;
            text-decoration: underline;
            transition: all linear .3s;
            &:hover{
                color: #72a5f9;
            }
        }
        @media screen and (max-width: 991px) {
            font-size: 8px;
            margin: 14px 0 0 0;
        }
    }
}