.custom-slider{
    .item{
        padding: 30px 20px 15px;
        outline: none;
        @media screen and (max-width: 991px) {
            padding: 20px 15px 15px;
        }
    }
    .inner{
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    .sub-title{
        color: #894a99;
        font-size: 21px;
        margin-bottom: 7px;
        text-align: center;
        font-weight: 700;
        @media screen and (max-width: 991px) {
            font-size: 14px;
            margin-bottom: 5px;
        }
        
    }

    .title{
        color: #1e1e1e;
        font-size: 31px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 800;
        @media screen and (max-width: 991px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    .title_bold{
        font-size: 24px;
        margin-bottom: 20px;
        color: #894a99;
        font-weight: 800;
        @media screen and (max-width: 991px) {
            font-size: 19px;
            margin-bottom: 15px;
        }
        
        
    }

    .cta-blc{
        max-width: 400px;
        margin: 0 auto;
        .slider-cta{
            display: inline-block;
            font-family: $fontMR;
            font-size: 22px;
            color: #fff;
            background: #44d53f;
            padding: 10px;
            border-radius: 50px;
            text-decoration: none;
            min-width: 150px;
            margin: 0 15px 9px;
            transition: all linear .2s;
            &:hover{
                background: #06af00;

            }

            @media screen and (max-width: 991px) {
                font-size: 19px;
                color: #fff;
                background: #44d53f;
                padding: 9px 6px;
                border-radius: 50px;
                text-decoration: none;
                min-width: 105px;
            }


            &:focus{
                outline: none; 
            }
        }

    }

    

}

.form-blc{
    .form-item{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    .field-name{
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px;
        text-align: left;
    }
   .input-filed{
       display: block;
       font-size: 14px;
       font-weight: 700;
       color: #1e1e1e;
       padding: 11px 30px 11px 12px;
       margin-bottom: 15px;
       width: 100%;
       border-radius: 5px;
       border: 1px solid #a0a0a0;
       &.search-icon{
           background-image: url('img/search-icon.png');
           background-position: 96% center;
           background-size: 21px 21px;
           background-repeat: no-repeat;
       }

       &.date-icon{
            
       }


   }

   .date-wrap{
       position: relative;
       margin-bottom: 15px;
       .date-icon{
        margin-bottom: 0;
        &::-webkit-calendar-picker-indicator {
            background: transparent;
            bottom: 0;
            color: transparent;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
        }
       }
       .icon{
            position: absolute;
            top: 50%;
            right: 13px;
            width: 20px;
            height: 20px;
            background-image: url('img/date-icon.png');
            background-position: 96% center;
            background-size: 21px 21px;
            background-repeat: no-repeat;
            appearance: none;
            transform: translateY(-50%);
            pointer-events: none;
       }
   }
   p{
       color: #1e1e1e;
       font-size: 12px;
       text-align: left;
       margin: 10px 0 0 0;
       font-weight: 600;
       &.bold{
           font-weight: 800;
           font-weight: 14px;
           text-align: center;
       }
       &.light{
        color: #a7a5b5;
       }
       a{
           text-decoration: underline;
           color: #72a5f9;
           &:hover{
               text-decoration: none;
           }

       }
   }
   .switch-postcode{
       display: none;
   }
   .cta-blc{
       margin-top: 5px;

    @media screen and (max-width: 991px) {
        margin-top: 5px;
    }
    

   }

   .wrap-check{
       display: flex;
       align-items: flex-start;
       margin-bottom: 20px;
       input{
           display: none;
           &:checked{
            & + .checkbox{
                &::after{
                    opacity: 1;
                }
            }
           }
       }
       .checkbox{
        flex: 0 0 20px;
        width: 20px;
        height: 20px;
        border: 1px solid #a0a0a0;
        border-radius: 5px;
        margin: 4px 10px 0 0;
        &:after{
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            background: #44d53f;
            margin: 2px;
            border-radius: 3px;
            opacity: 0;
            transition: all linear .2s;
        }
       }
       p{
        margin: 0;
        font-size: 13px;
        font-weight: 400;
        color: #a7a5b5;
        a{
            color: #72a5f9;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
       }
   }
}

.switch-pstcd-input{
    display: block;
    font-size: 12px;
    margin: 0 0 15px 0;
}
.colored-blocks{
    &.slide{
        transition: all linear .1s;
        transform: translateX(-100vw);
    }
}
.colored-blocks, .success{
    display: none;
    position: fixed;
   width: 100vw;
   height: 100vh;
   z-index: 100;
   top: 0;
   left: 0; 
   overflow: hidden;
    &.show{
        display: flex;
    }
    .first-part{
        transition: all linear .2s;

    }
    .second-part{
        transition: all linear .2s;
        display: none;

        .colored-card{
            opacity: 0;
            margin: 60px auto 0;
            display: block;
            transition: all linear .2s;
            @media screen and (max-width: 991px) {
                max-width: 135px;
            }
           
        }

        .titles-second-step{
            display: none;
        } 
        &.fsh{
            .titles-first-step{
                display: none;
            }
            .titles-second-step{
                display: block;
            }
            .colored-card{
                opacity: 1;
            }
            .generate-code{
                color: #000;
                
                span{
                    color: #000;
                }
            }
        }
        
    }


    .header-colored-blocks{
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid rgba(255,255,255, .5);
        .logo{
            img{
                width: 122px;
            }
        }
    }
    .titles{
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        color: #fff;
        padding-top: 50px;

        @media screen and (max-width: 991px) {
            font-size: 30px;
            padding-top: 35px;
        }
    }
    .titles-first{
        animation-delay: 2s;
        animation-name: titlesHide;
        animation-duration: 10s;
        
    }
    .titles-second{
        opacity: 0;
        font-size: 0;
        height: 0;
        animation-delay: 2s;
        animation-name: titlesShow;
        animation-duration: 10s;
    }
    .smiles{
        width: 100%;
        margin: 100px auto 0;
        @media screen and (max-width: 991px) {
            margin: 50px auto 0;
        }
        &-wrap{
            transform: translateX(100%);
            display: flex;
            animation: 4s ease-in-out infinite smiles;
           //infinite alternate
        }
        &-item{
            flex: 0 0 140px;
            width: 140px;
            height: 140px;
            background: #32b22e;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 991px) {
                flex: 0 0 75px;
                width: 75px;
                height: 75px;
            }
            svg{
                width: 90px;
                @media screen and (max-width: 991px) {
                    width: 50px;
                }
            }
        }

    }


   .block-first{
       width: 100%;
       height: 100%;
        background: #44d53f;

   }
   .block-second{
        display: none;
        width: 100%;
        height: 100%;
        background: #44d53f;
        .titles {
            padding-top: 80px;
        }

        .finish-code{
            display: none;
            text-align: center;
            .titles {
                padding-top: 50px;
            }
            .colored-card{
                
                width: 272px;
                margin: 80px auto 0;
            }
        }
    }
    .generate-code{
        padding: 24px 60px;
        font-size: 24px;
        text-align: center;
        border-radius: 40px;
        background: #fff;
        margin: 50px auto;
        max-width: 360px;
        color: #a0a0a0;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 991px) {
            padding: 15px 20px;
            font-size: 18px;
            margin: 40px auto 0;
            letter-spacing: 0;
        }
        &.fsh{
            color: #000;
            .colored-card{
                visibility: visible;
            }
            span{
                color: #000;
            }
        }
        span{
            letter-spacing: 2px;
            font-size: 24px;
            color: #a0a0a0;
            @media screen and (max-width: 991px) {
                font-size: 18px;
                letter-spacing: 0;
            }
        }
        .odometer-digit{
            margin: 0 6px;
        }
    }
}

.success{
    display: none;
    background: #fff;
    .header-colored-blocks{
        background: #44d53f;
    }
    .step-one-finish{
        height: 100%;
       .prize{
            background: #44d53f;
            text-align: center;
            padding: 50px 0 60px;
            @media screen and (max-width: 991px) {
                padding: 35px 0;
            }
            .trofy{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 180px;
                height: 180px;
                overflow: hidden;
                background: #32b22e;
                border-radius: 50%;
                @media screen and (max-width: 991px) {
                    width: 75px;
                    height: 75px;
                }
            }
            svg{
                width: 121px;
                height: 120px;
                @media screen and (max-width: 991px) {
                    width: 50px;
                    height: 50px;
                }
            }
       } 

       .text{
           font-size: 24px;
           max-width: 400px;
           margin: 54px auto 45px;
           color: #1e1e1e;
           text-align: center;
           @media screen and (max-width: 991px) {
                font-size: 16px;
                margin: 35px auto 25px;
            }
       }
       .color-text{
           font-size: 32px;
           color: #44d53f;
           font-weight: 800;
           max-width: 400px;
           margin: 0 auto;
           text-align: center;
           @media screen and (max-width: 991px) {
                font-size: 24px;
            }
       }
    }

    .step-finish{
        display: none;
        background: #44d53f;
        height: 100%;
        padding: 0 20px;
        .finish-img{
            margin: 50px auto 20px;
            display: block;
            max-width: 615px;
            width: 100%;
            border-radius: 15px;
        }
    }
}
:root{
    --smileWidth: -4200px;
    @media screen and (max-width: 991px) {
        --smileWidth: -2200px;
    }
}
@keyframes smiles {
    from {
      transform: translateX(100%);
    }

    to {
        transform: translateX(var(--smileWidth));
    }
  }

  @keyframes titlesShow {
    from {
        opacity: 1;
        font-size: 40px;
        height: auto;

    }
    to {
        opacity: 1;
        font-size: 40px;
        height: auto;
    }
  }

  @keyframes titlesHide {
    from {
        opacity: 0;
        font-size: 0;
        height: 0;

      }
      to {
        opacity: 0;
        font-size: 0;
        height: 0;
 
      }
  }