.widget{
    &.grey{
        background: $second-color;
    }

    &_title{
        color: #1e1e1e;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 40px;
        margin-top: 0;
        text-align: center;
        @media screen and (max-width: 991px){
            font-size: 30px;
            margin-bottom: 22px;
        }
        @media screen and (max-width: 767px){
            font-size: 24px;
            text-align: center;
        }
        span{
            color: $primary-color;
            display: block;
        }
    }

    .text{
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 40px;
        @media screen and (max-width: 991px){
            font-size: 18px;
            margin-bottom: 22px;
        }
        @media screen and (max-width: 767px){
            text-align: center;
        }
    }

    .inner{
        @include inner;
    }
}
